services:
  - type: web
    name: barangaylink
    env: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_KEY
        generateValue: true
      - key: DB_CONNECTION
        value: pgsql
      - key: APP_DEBUG
        value: false
      - key: APP_URL
        fromService:
          type: web
          name: barangaylink
          property: host
    healthCheckPath: /
    dependsOn:
      - barangaylink-db
